# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253108

# Verify the SSH public host key files have mode "0644" or less
# permissive with the following command:
#
#     $ sudo ls -l /etc/ssh/*.pub
#     -rw-r--r-- 1 root root 618 Nov 28 06:43 ssh_host_dsa_key.pub
#     -rw-r--r-- 1 root root 347 Nov 28 06:43 ssh_host_key.pub
#     -rw-r--r-- 1 root root 238 Nov 28 06:43 ssh_host_rsa_key.pub
#
# If any key.pub file has a mode more permissive than "0644", this is a finding.
#
# Note: SSH public key files may be found in other directories on the system
# depending on the installation.


- name: TOSS-04-040670 - The TOSS SSH public host key files must have mode 0644 or less permissive.
  block:
    - name: TOSS-04-040670 - find SSH public host key
      ansible.builtin.find:
        paths: /etc/ssh/
        file_type: file
        patterns: '*.pub'
      register: ssh_keys
    - name: TOSS-04-040670 - verify SSH public host key files have mode "0644" or less
      ansible.builtin.file:
        path: '{{ ssh_key.path }}'
        mode: '0600'
      loop: '{{ ssh_keys.files }}'
      loop_control:
        loop_var: ssh_key
  when:
    - toss_04_040670 | bool
  tags:
    - CCI-000366
    - DISA-STIG-TOSS-04-040670
    - medium_severity
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-040670
    - V-253108
