# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252939

# Verify there are no ."shosts" files on TOSS with the following command:
#
#     $ sudo find / -name '*.shosts'
#
# If any ."shosts" files are found, this is a finding.


- name: TOSS-04-010370 - There must be no ".shosts" files on The TOSS operating system.
  block:
    # $ sudo find / -name '*.shosts'
    - name: TOSS-04-010370 - Register *.shosts files
      ansible.builtin.find:
        # TODO: Add -xdev flag to avoid crossing filesystems
        paths: /
        patterns: '*.shosts'
        file_type: file
        recurse: false
      register: shost_files
    - name: TOSS-04-010370 - Verify there are no .shosts files on the host
      ansible.builtin.assert:
        that:
          - shost_files.matched == 0
        fail_msg: "There should be no `*.shosts` files on the system"
        quiet: true
  when:
    - toss_04_010370 | bool
  tags:
    - V-252939
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-010370
    - DISA-STIG-TOSS-04-010370
    - medium_severity
    - CCI-000366
