# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252935

# Determine whether the system is using local or DNS name resolution with
# the following command:
#
#     $ sudo grep hosts /etc/nsswitch.conf
#     hosts: files dns
#
# If the DNS entry is missing from the host's line in the "/etc/nsswitch.conf"
# file, the "/etc/resolv.conf" file must be empty.
#
# Verify the "/etc/resolv.conf" file is empty with the following command:
#
#     $ sudo ls -al /etc/resolv.conf
#     -rw-r--r-- 1 root root 0 Aug 19 08:31 resolv.conf
#
# If local host authentication is being used and the "/etc/resolv.conf" file
# is not empty, this is a finding.
#
# If the DNS entry is found on the host's line of the "/etc/nsswitch.conf" file,
# verify the operating system is configured to use two or more name servers
# for DNS resolution.
#
# Determine the name servers used by the system with the following command:
#
#     $ sudo grep nameserver /etc/resolv.conf
#     nameserver 192.168.1.2
#     nameserver 192.168.1.3
#
# If less than two lines are returned that are not commented out, this is a finding.


- name: TOSS-04-010330 - For TOSS systems using Domain Name Servers (DNS) resolution, at least two name servers must be configured.
  block:
    - name: TOSS-04-010330 - Determine whether the system is using local or DNS name resolution
      ansible.builtin.command: "grep hosts /etc/nsswitch.conf"
      changed_when: false
      check_mode: false
      failed_when: dns_entry.rc not in [0,1]
      register: dns_entry
    - name: TOSS-04-010330 - Get the size "/etc/resolv.conf"
      ansible.builtin.stat:
        path: /etc/resolv.conf
      register: resolv_stat
      when: dns_entry.rc != 0
    - name: TOSS-04-010330 - Verify that "/etc/resolv.conf" is empty
      ansible.builtin.assert:
        that:
          - resolv_stat.stat.size == 0
        fail_msg: "If local host authentication is being used, the /etc/resolv.conf file must be emtpy"
        quiet: true
      when: dns_entry.rc != 0
    - name: TOSS-04-010330 - Verify the operating system is configured to use two or more name servers for DNS resolution
      ansible.builtin.command: "grep '^nameserver' /etc/resolv.conf"
      register: num_name_servers
      changed_when: false
      check_mode: false
      failed_when: dns_entry.rc not in [0,1]
      when: dns_entry.rc == 0
    - name: TOSS-04-010330 - Check that there are at least two name servers for DNS resolution
      ansible.builtin.assert:
        that:
          - num_name_servers.stdout is defined
          - num_name_servers.stdout | length >= 2
        fail_msg: "Configure the operating system to use two or more name servers for DNS resolution"
        quiet: true
  when:
    - toss_04_010330 | bool
  tags:
    - V-252935
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-010330
    - DISA-STIG-TOSS-04-010330
    - medium_severity
    - CCI-000366
