# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253060

# Verify the value for "ucredit " in "/etc/security/pwquality.conf " with
# the following command:
#
#     $ sudo grep ucredit /etc/security/pwquality.conf
#     ucredit = -1
#
# If the value of "ucredit" is a positive number or is commented out, this
# is a finding.


- name: TOSS-04-040050 - TOSS must enforce password complexity by requiring that at least one upper-case character be used.
  ansible.builtin.lineinfile:
    path: /etc/security/pwquality.conf
    regexp: '^#?\s*ucredit'
    line: 'ucredit = -1'
    backup: true
  when:
    - toss_04_040050 | bool
  tags:
    - V-253060
    - SRG-OS-000069-GPOS-00037
    - TOSS-04-040050
    - DISA-STIG-TOSS-04-040050
    - medium_severity
    - CCI-000192
