# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252915

# Verify remote access from outside the system using SSH prevents users from
# logging on directly as "root."
#
# Check that SSH prevents users from logging on directly as "root" with the
# following command:
#
#     $ sudo grep -i PermitRootLogin /etc/ssh/sshd_config
#     PermitRootLogin no
#
# If the "PermitRootLogin" keyword is set to "yes", is missing, or is commented
# out, and is not documented with the Information System Security Officer (ISSO)
# as an operational requirement, this is a finding.


- name: TOSS-04-010040 - TOSS must not permit direct logons to the root account using remote access from outside of the system via SSH.
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^(?i)#?PermitRootLogin'
    line: 'PermitRootLogin no'
    state: present
    backup: true
    validate: /usr/sbin/sshd -t -f %s
  notify: Restart sshd
  when:
    - toss_04_010040 | bool
  tags:
    - V-252915
    - SRG-OS-000109-GPOS-00056
    - TOSS-04-010040
    - DISA-STIG-TOSS-04-010040
    - medium_severity
    - CCI-000770
    - NASA-ASCS-40062
    - isso_documented
