# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252943

# Verify the SSH daemon performs compression after a user successfully
# authenticates with the following command:
#
#     $ sudo grep -i compression /etc/ssh/sshd_config
#     Compression delayed
#
# If the "Compression" keyword is set to "yes", is missing, or the returned line
# is commented out, this is a finding.


- name: TOSS-04-010410 - The TOSS SSH daemon must not allow compression or must only allow compression after successful authentication.
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^(?i)#?Compression'
    line: 'Compression delayed'
    state: present
    backup: true
    validate: /usr/sbin/sshd -t -f %s
  when:
    - toss_04_010410 | bool
  tags:
    - V-252943
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-010410
    - DISA-STIG-TOSS-04-010410
    - medium_severity
    - CCI-000366
