# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252929

# Verify the operating system routinely checks the baseline configuration for
# unauthorized changes and notifies the system administrator when anomalies in the
# operation of any security functions are discovered.
#
# Check to see if AIDE is installed on the system with the following command:
#
#     $ sudo yum list installed aide
#
# If AIDE is not installed, ask the System Administrator how file integrity checks
# are performed on the system.
#
# Check that TOSS routinely executes a file integrity scan for changes to the
# system baseline. The command used in the example will use a daily occurrence.
#
# Check the cron directories for scripts controlling the execution and notification
# of results of the file integrity application. For example, if AIDE is installed
# on the system, use the following commands:
#
#     $ sudo ls -al /etc/cron.* | grep aide
#      -rwxr-xr-x 1 root root 29 Nov 22 2015 aide
#
#     $ sudo grep aide /etc/crontab /var/spool/cron/root
#     /etc/crontab: 30 04 * * * root usr/sbin/aide
#     /var/spool/cron/root: 30 04 * * * root usr/sbin/aide
#
#     $ sudo more /etc/cron.daily/aide
#     #!/bin/bash
#     /usr/sbin/aide --check | /bin/mail -s "$HOSTNAME - Daily aide integrity check run" root@sysname.mil
#
# Here the use of /bin/mail is one example of how to notify designated personnel.
# There may be other methods available to a system, such as notifications from an
# external log aggregation service (e.g., SIEM).
#
# If the file integrity application does not exist, or a script file controlling
# the execution of the file integrity application does not exist, or the file
# integrity application does not notify designated personnel of changes, this is
# a finding.


- name: TOSS-04-010210 - The TOSS file integrity tool must notify the system administrator when changes to the baseline configuration or anomalies in the operation of any security functions are discovered within an organizationally defined frequency.
  ansible.builtin.package:
    name: aide
    state: present
  when:
    - toss_04_010210 | bool
  tags:
    - V-252929
    - SRG-OS-000363-GPOS-00150
    - TOSS-04-010210
    - DISA-STIG-TOSS-04-010210
    - medium_severity
    - CCI-001744
    - CCI-002699
    - CCI-002702
