# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252958

# Verify that "/etc/sudoers" has no occurrences of "!authenticate."
#
# Check that the "/etc/sudoers" file has no occurrences of "!authenticate" by
# running the following command:
#
#     $ sudo grep -i authenticate /etc/sudoers /etc/sudoers.d/*
#
# If any occurrences of "!authenticate" return from the command, this is a finding.


- name: TOSS-04-020180 - TOSS must require users to reauthenticate for privilege escalation.
  block:
    - name: TOSS-04-020180 - Find /etc/sudoers.d/ files
      ansible.builtin.find:
        paths: /etc/sudoers.d/
      register: sudoers
    - name: TOSS-04-020180 - Remove lines containing !authenticate from sudoers files
      ansible.builtin.replace:
        regexp: (^(?!#).*[\s]+\!authenticate.*$)
        replace: '# \g<1>'
        path: '{{ item.path }}'
        validate: /usr/sbin/visudo -cf %s
      with_items:
        - path: /etc/sudoers
        - '{{ sudoers.files }}'
  when:
    - toss_04_020180 | bool
  tags:
    - V-252958
    - SRG-OS-000373-GPOS-00156
    - TOSS-04-020180
    - DISA-STIG-TOSS-04-020180
    - medium_severity
    - CCI-002038
    - DISA-STIG-RHEL-08-010381
