# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253074

# Verify the operating system disables the ability to load the ATM
# protocol kernel module. $ sudo grep -r atm /etc/modprobe.d/* | grep install
# install atm /bin/false If the command does not return any output, or the line is
# commented out, and use of the ATM protocol is not documented with the
# Information System Security Officer (ISSO) as an operational requirement, this
# is a finding. Verify the operating system disables the ability to use the ATM
# protocol. Check to see if the ATM protocol is disabled with the following
# command: $ sudo grep -r atm /etc/modprobe.d/* | grep "blacklist" blacklist atm
# If the command does not return any output or the output is not "blacklist atm",
# and use of the ATM protocol is not documented with the Information System
# Security Officer (ISSO) as an operational requirement, this is a finding.

# Verify the operating system disables the ability to load the ATM protocol
# kernel module.
#
#     $ sudo grep -r atm /etc/modprobe.d/* | grep install
#     install atm /bin/false
#
# If the command does not return any output, or the line is commented out,
# and use of the ATM protocol is not documented with the Information
# System Security Officer (ISSO) as an operational requirement, this is a
# finding.
#
# Verify the operating system disables the ability to use the ATM protocol.
#
# Check to see if the ATM protocol is disabled with the following command:
#
#     $ sudo grep -r atm /etc/modprobe.d/* | grep "blacklist"
#     blacklist atm
#
# If the command does not return any output or the output is not
# "blacklist atm", and use of the ATM protocol is not documented with the
# Information System Security Officer (ISSO) as an operational requirement,
# this is a finding.


- name: TOSS-04-040190 - TOSS must disable the asynchronous transfer mode (ATM) protocol.
  block:
    - name: TOSS-04-040190 - TOSS must disable the asynchronous transfer mode (ATM) protocol. Check install.
      ansible.builtin.lineinfile:
        create: true
        dest: /etc/modprobe.d/usb-storage.conf
        regexp: install\s+usb-storage
        line: install usb-storage /bin/false
        mode: '644'
    - name: TOSS-04-040190 - TOSS must disable the asynchronous transfer mode (ATM) protocol. Check blacklist.
      ansible.builtin.lineinfile:
        create: true
        dest: /etc/modprobe.d/blacklist-usb-storage.conf
        regexp: ^blacklist usb-storage$
        line: blacklist usb-storage
        mode: '644'
  when:
    - toss_04_040190 | bool
  tags:
    - V-253074
    - SRG-OS-000095-GPOS-00049
    - TOSS-04-040190
    - DISA-STIG-TOSS-04-040190
    - medium_severity
    - CCI-000381
    - isso_documented
