# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253062

# Verify the value for "dcredit" in "/etc/security/pwquality.conf" with
# the following command:
#
#     $ sudo grep dcredit /etc/security/pwquality.conf
#     dcredit = -1
#
# If the value of "dcredit" is a positive number or is commented out, this
# is a finding.


- name: TOSS-04-040070 - TOSS must enforce password complexity by requiring that at least one numeric character be used.
  ansible.builtin.lineinfile:
    path: /etc/security/pwquality.conf
    regexp: '^#?\s*dcredit'
    line: 'dcredit = -1'
    backup: true
  when:
    - toss_04_040070 | bool
  tags:
    - V-253062
    - SRG-OS-000071-GPOS-00039
    - TOSS-04-040070
    - DISA-STIG-TOSS-04-040070
    - medium_severity
    - CCI-000194
