# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253084

# Verify the operating system has the policycoreutils package installed
# with the following command:
#
#     $ sudo yum list installed policycoreutils
#     policycoreutils.x86_64 2.9-16.el8 @anaconda
#
# If the policycoreutils package is not installed, this is a finding.


- name: TOSS-04-040310 - TOSS must have policycoreutils package installed.
  ansible.builtin.package:
    name: policycoreutils
    state: present
  when:
    - toss_04_040310 | bool
  tags:
    - V-253084
    - SRG-OS-000134-GPOS-00068
    - TOSS-04-040310
    - DISA-STIG-TOSS-04-040310
    - low_severity
    - CCI-001084
