# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252924

# Verify the SSH daemon is configured to use only ciphers employing
# FIPS 140-2-approved algorithms:
#
# Verify that system-wide crypto policies are in effect:
#
#     $ sudo grep CRYPTO_POLICY /etc/sysconfig/sshd
#     # CRYPTO_POLICY=
#
# If the "CRYPTO_POLICY" is uncommented, this is a finding.
#
# Verify which system-wide crypto policy is in use:
#
#     $ sudo update-crypto-policies --show
#     FIPS
#
# Check that the ciphers in the back-end configurations are FIPS 140-2-approved
# algorithms with the following command:
#
#     $ sudo grep -i ciphers /etc/crypto-policies/back-ends/openssh.config /etc/crypto-policies/back-ends/opensshserver.config
#
#     /etc/crypto-policies/back-ends/openssh.config:Ciphers aes256-ctr,aes192-ctr,aes128-ctr
#     /etc/crypto-policies/back-ends/opensshserver.config:CRYPTO_POLICY='-oCiphers=aes256-ctr,aes192-ctr,aes128-ctr'
#     /etc/crypto-policies/back-ends/opensshserver.config:CRYPTO_POLICY='-oCiphers=aes256-ctr,aes192-ctr,aes128-ctr'
#
# If the cipher entries in the "openssh.config" and "opensshserver.config" files
# have any ciphers other than "aes256-ctr,aes192-ctr,aes128-ctr", the order
# differs from the example above, if they are missing, or commented out, this
# is a finding.


- name: TOSS-04-010140 - The TOSS operating system must implement DoD-approved encryption to protect the confidentiality of SSH connections.
  block:
    - name: TOSS-04-010140 - Verify that system-wide crypto policies are in effect and CRYPTO_POLICY is not defined in sshd
      ansible.builtin.lineinfile:
        path: /etc/sysconfig/sshd
        regexp: '^CRYPTO_POLICY='
        state: absent
      changed_when: false
      register: out
    - name: TOSS-04-010140 - Comment out CRYPTO_POLICY if it is defined in sshd
      ansible.builtin.replace:
        path: /etc/sysconfig/sshd
        regexp: '^CRYPTO_POLICY='
        replace: '#CRYPTO_POLICY='
      when: out.found
    - name: TOSS-04-010140 - Check which system-wide crypto policy is in use
      ansible.builtin.command: update-crypto-policies --show
      register: crypto_policy_output
      changed_when: false
      check_mode: false
    - name: TOSS-04-010140 - Configure the TOSS SSH daemon to use only ciphers employing FIPS 140-2-approved algorithms
      ansible.builtin.command: fips-mode-setup --enable
      # Note: Running this command will create a symlink from opensshserver.config and openssh.config to other files,  making permission look like '0777' to ansible's checks
      changed_when: fips_setup_output.rc is defined
      register: fips_setup_output
      when: "'FIPS' not in crypto_policy_output.stdout"
    - name: 'TOSS-04-010140 - Set crypto policy in opensshserver.config'
      ansible.builtin.replace:
        path: /etc/crypto-policies/back-ends/opensshserver.config
        regexp: '^#?CRYPTO_POLICY=\S+'
        replace: "CRYPTO_POLICY='-oCiphers={{ sshd_approved_ciphers }}"
        mode: '0644'
    - name: 'TOSS-04-010140 - Set crypto policy in openssh.config'
      ansible.builtin.replace:
        path: /etc/crypto-policies/back-ends/openssh.config
        regexp: '^#?Ciphers.*$'
        replace: 'Ciphers {{ sshd_approved_ciphers }}'
        mode: '0644'
  when:
    - toss_04_010140 | bool
  tags:
    - V-252924
    - SRG-OS-000250-GPOS-00093
    - TOSS-04-010140
    - DISA-STIG-TOSS-04-010140
    - medium_severity
    - CCI-001453
    - CCI-003123
    - DISA-STIG-RHEL-08-010291
    - hpc_issue
