# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253082

# Verify the operating system disables the ability to load the USB Storage
# kernel module.
#
#     $ sudo grep -r usb-storage /etc/modprobe.d/* | grep "install"
#     install usb-storage /bin/false
#
# If the command does not return any output, or the line is commented out,
# and use of USB Storage is not documented with the Information System
# Security Officer (ISSO) as an operational requirement, this is a finding.
#
# Verify the operating system disables the ability to use USB mass storage
# devices.
#
# Check to see if USB mass storage is disabled with the following command:
#
#     $ sudo grep -r usb-storage /etc/modprobe.d/* | grep "blacklist"
#     blacklist usb-storage
#
# If the command does not return any output or the output is not
# "blacklist usb-storage", and use of USB storage devices is not documented
# with the Information System Security Officer (ISSO) as an operational
# requirement, this is a finding.


- name: TOSS-04-040280 - TOSS must be configured to disable USB mass storage.
  ansible.builtin.lineinfile:
    create: true
    dest: /etc/modprobe.d/usb-storage.conf
    regexp: install\s+usb-storage
    line: install usb-storage /bin/false
    mode: '644'
  when:
    - toss_04_040280 | bool
  tags:
    - V-253082
    - SRG-OS-000114-GPOS-00059
    - TOSS-04-040280
    - DISA-STIG-TOSS-04-040280
    - medium_severity
    - CCI-000778
    - CCI-001958
    - isso_documented

- name: TOSS-04-040280 - TOSS must be configured to disable USB mass storage.
  ansible.builtin.lineinfile:
    create: true
    dest: /etc/modprobe.d/blacklist-usb-storage.conf
    regexp: ^blacklist usb-storage$
    line: blacklist usb-storage
    mode: '644'
  when:
    - toss_04_040280 | bool
  tags:
    - V-253082
    - SRG-OS-000114-GPOS-00059
    - TOSS-04-040280
    - DISA-STIG-TOSS-04-040280
    - medium_severity
    - CCI-000778
    - CCI-001958
    - isso_documented
