# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252964

# Verify the operating system disables the user logon list for
# graphical user interfaces with the following command: Note: This requirement
# assumes the use of the TOSS default graphical user interface, Gnome Shell. If
# the system does not have any graphical user interface installed, this
# requirement is Not Applicable. $ sudo gsettings get org.gnome.login-screen
# disable-user-list true If the setting is "false", this is a finding.

# Verify the operating system disables the user logon list for graphical
# user interfaces with the following command:
#
# Note: This requirement assumes the use of the TOSS default graphical user
# interface, Gnome Shell. If the system does not have any graphical user
# interface installed, this requirement is Not Applicable.
#
#     $ sudo gsettings get org.gnome.login-screen disable-user-list
#     true
#
# If the setting is "false", this is a finding.


- name: TOSS-04-020250 - TOSS must disable the user list at logon for graphical user interfaces.
  block:
    - name: TOSS-04-020250 - Disable the GNOME3 Login User List
      community.general.ini_file:
        dest: /etc/dconf/db/local.d/02-login-screen
        section: org/gnome/login-screen
        option: disable-user-list
        value: 'true'
        no_extra_spaces: true
        create: true
        mode: '0644'
    - name: TOSS-04-020250 - Dconf Update
      ansible.builtin.command: dconf update
      register: update_output
      changed_when: false
  when:
    - toss_04_020250 | bool
  tags:
    - V-252964
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-020250
    - DISA-STIG-TOSS-04-020250
    - medium_severity
    - CCI-000366
    - DISA-STIG-RHEL-08-020032
    - dconf_gnome_screensaver_lock_enabled
