# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252974

# Verify that an audit event is generated for any successful/unsuccessful use
# of the "sudo" command by performing the following command to check the file
# system rules in "/etc/audit/audit.rules":
#
#     $ sudo grep -w sudo /etc/audit/audit.rules
#     -a always,exit -F path=/usr/bin/sudo -F perm=x -F auid>=1000 -F auid!=unset -k priv_cmd
#
# If the command does not return a line, or the line is commented out,
# this is a finding.


- name: TOSS-04-030060 - TOSS must generate audit records containing the full-text recording of privileged commands.
  ansible.builtin.lineinfile:
    path: /etc/audit/rules.d/audit.rules
    line: -a always,exit -F path=/usr/bin/sudo -F perm=x -F auid>=1000 -F auid!=unset -k priv_cmd
  notify: Build auditd rules
  when:
    - toss_04_030060 | bool
  tags:
    - V-252974
    - SRG-OS-000042-GPOS-00020
    - TOSS-04-030060
    - DISA-STIG-TOSS-04-030060
    - medium_severity
    - CCI-000135
