# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253097

# Verify the operating system enforces a delay of at least four seconds
# between console logon prompts following a failed logon attempt with the
# following command:
#
#     $ sudo grep -i fail_delay /etc/login.defs
#     FAIL_DELAY 4
#
# If the value of "FAIL_DELAY" is not set to "4" or greater, or the line
# is commented out, this is a finding.


- name: TOSS-04-040550 - TOSS must enforce a delay of at least four seconds between logon prompts following a failed logon attempt.
  ansible.builtin.lineinfile:
    path: /etc/login.defs
    line: FAIL_DELAY 4
  when:
    - toss_04_040550 | bool
  tags:
    - V-253097
    - SRG-OS-000480-GPOS-00226
    - TOSS-04-040550
    - DISA-STIG-TOSS-04-040550
    - medium_severity
    - CCI-000366
