# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252914

# Check to see if the system requires authentication for rescue or emergency mode
# with the following command:
#
#     $ sudo grep sulogin-shell /usr/lib/systemd/system/rescue.service
#     ExecStart=-/usr/lib/systemd/systemd-sulogin-shell rescue
#
# If the "ExecStart" line is configured for anything other than
# "/usr/lib/systemd/systemd-sulogin-shell rescue", commented out, or missing,
# this is a finding.


- name: TOSS-04-010030 - TOSS must require authentication upon booting into emergency or rescue modes.
  ansible.builtin.lineinfile:
    path: /usr/lib/systemd/system/rescue.service
    regexp: '^#?ExecStart='
    line: 'ExecStart=-/usr/lib/systemd/systemd-sulogin-shell rescue'
    backup: true
  when:
    - toss_04_010030 | bool
  tags:
    - V-252914
    - SRG-OS-000080-GPOS-00048
    - TOSS-04-010030
    - DISA-STIG-TOSS-04-010030
    - medium_severity
    - CCI-000213
