# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253098

# Verify an FTP server has not been installed on the system with the
# following commands: $ sudo yum list installed *ftpd* vsftpd.x86_64 3.0.3-28.el8
# appstream If an FTP server is installed and is not documented with the
# Information System Security Officer (ISSO) as an operational requirement, this
# is a finding.

# Verify an FTP server has not been installed on the system with the
# following commands:
#
#     $ sudo yum list installed *ftpd*
#     vsftpd.x86_64                                                     3.0.3-28.el8                                                  appstream
#
# If an FTP server is installed and is not documented with the Information
# System Security Officer (ISSO) as an operational requirement, this is a finding.


- name: TOSS-04-040560 - A File Transfer Protocol (FTP) server package must not be installed unless mission essential on TOSS.
  block:
    - name: TOSS-04-040560 - Ensure vsftpd is removed
      ansible.builtin.package:
        name: vsftpd
        state: absent
  when:
    - toss_04_040560 | bool
  tags:
    - V-253098
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-040560
    - DISA-STIG-TOSS-04-040560
    - high_severity
    - CCI-000366
    - DISA-STIG-RHEL-08-040360
    - isso_documented
