# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252922

# Verify The TOSS operating system is configured to use TCP syncookies.
#
# Check the value of TCP syncookies with the following command:
#
#     $ sysctl net.ipv4.tcp_syncookies
#     net.ipv4.tcp_syncookies = 1
#
# If the value is not "1", this is a finding.
#
# Check the saved value of TCP syncookies with the following command:
#
#     $ sudo grep -i net.ipv4.tcp_syncookies /etc/sysctl.conf /etc/sysctl.d/* | grep -v '#'
#
# If no output is returned, this is a finding."


- name: TOSS-04-010110 - The TOSS operating system must be configured to use TCP syncookies.
  ansible.builtin.lineinfile:
    path: /etc/sysctl.conf
    regexp: '^(?i)#?net.ipv4.tcp_syncookies'
    line: 'net.ipv4.tcp_syncookies = 1'
    state: present
    backup: true
  notify: Reload sysctl
  when:
    - toss_04_010110 | bool
  tags:
    - V-252922
    - SRG-OS-000142-GPOS-00071
    - TOSS-04-010110
    - DISA-STIG-TOSS-04-010110
    - medium_severity
    - CCI-001095
    - NASA-ASCS-20116
