# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253078

# Check to see if any automated bug reporting packages are installed
# with the following command:
#
# $ sudo yum list installed abrt*
#
# If any automated bug reporting package is installed, this is a finding.


- name: TOSS-04-040230 - TOSS must not have any automated bug reporting tools installed.
  ansible.builtin.yum:
    name: ['abrt', 'abrt-cli', 'abrt-gui', 'abrt-addon-ccpp', 'abrt-addon-kerneloops', 'abrt-plugin-sosreport', 'abrt-addon-vmcore', 'python3-abrt-addon']
    state: absent
  when:
    - toss_04_040230 | bool
  tags:
    - V-253078
    - SRG-OS-000095-GPOS-00049
    - TOSS-04-040230
    - DISA-STIG-TOSS-04-040230
    - medium_severity
    - CCI-000381
