# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252977

# Verify the audit logs have a mode of "0600" or less permissive.
#
# First, determine where the audit logs are stored with the following command:
#
#     $ sudo grep -iw log_file /etc/audit/auditd.conf
#     log_file = /var/log/audit/audit.log
#
# Using the location of the audit log file, check if the audit log has a mode
# of "0600" or less permissive with the following command:
#
#     $ sudo ls -l /var/log/audit/audit.log
#     -rw------- 1 root root 908084 Jul 19 23:10 /var/log/audit/audit.log
#
# If the audit log has a mode more permissive than "0600", this is a finding.


- name: TOSS-04-030120 - TOSS audit logs must have a mode of 0600 or less permissive to prevent unauthorized read access.
  ansible.builtin.file:
    path: /var/log/audit/audit.log
    mode: '0600'
    state: touch
  when:
    - toss_04_030120 | bool
  tags:
    - V-252977
    - SRG-OS-000057-GPOS-00027
    - TOSS-04-030120
    - DISA-STIG-TOSS-04-030120
    - medium_severity
    - CCI-000162
    - CCI-000163
    - CCI-000164
