# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253080

# Check to see if the telnet-server package is installed with the following
# command:
#
#     $ sudo yum list installed telnet-server
#
# If the telnet-server package is installed, this is a finding.


- name: TOSS-04-040260 - TOSS must not have the telnet-server package installed.
  ansible.builtin.package:
    name: telnet-server
    state: absent
  when:
    - toss_04_040260 | bool
  tags:
    - V-253080
    - SRG-OS-000095-GPOS-00049
    - TOSS-04-040260
    - DISA-STIG-TOSS-04-040260
    - medium_severity
    - CCI-000381
    - NASA-ASCS-20241
    - DISA-STIG-RHEL-08-040000
