# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252933

# Verify that SSSD prohibits the use of cached authentications after
# one day. Note: If smart card authentication is not being used on the system,
# this item is Not Applicable. Check that SSSD allows cached authentications with
# the following command: $ sudo grep cache_credentials /etc/sssd/sssd.conf
# cache_credentials = true If "cache_credentials" is set to "false" or missing
# from the configuration file, this is not a finding and no further checks are
# required. If "cache_credentials" is set to "true", check that SSSD prohibits the
# use of cached authentications after one day with the following command: $ sudo
# grep offline_credentials_expiration /etc/sssd/sssd.conf
# offline_credentials_expiration = 1 If "offline_credentials_expiration" is not
# set to a value of "1", this is a finding.

# Verify that SSSD prohibits the use of cached authentications after one day.
#
# Note: If smart card authentication is not being used on the system, this item
# is Not Applicable.
#
# Check that SSSD allows cached authentications with the following command:
#
#     $ sudo grep cache_credentials /etc/sssd/sssd.conf
#     cache_credentials = true
#
# If "cache_credentials" is set to "false" or missing from the configuration file,
# this is not a finding and no further checks are required.
#
# If "cache_credentials" is set to "true", check that SSSD prohibits the use of
# cached authentications after one day with the following command:
#
#     $ sudo grep offline_credentials_expiration /etc/sssd/sssd.conf
#     offline_credentials_expiration = 1
#
# If "offline_credentials_expiration" is not set to a value of "1", this is
# a finding.


- name: TOSS-04-010250 - TOSS must prohibit the use of cached authentications after one day.
  block:
    - name: TOSS-04-010250 - Check that SSSD allows cached authentications
      ansible.builtin.lineinfile:
        path: /etc/sssd/sssd.conf
        regexp: '^cache_credentials = true'
        state: absent
      register: cache_cred_enabled
    - name: TOSS-04-010250 - Check that SSSD prohibits the use of cached authentications after one day
      community.general.ini_file:
        dest: /etc/sssd/sssd.conf
        section: pam
        option: offline_credentials_expiration
        value: "1"
        create: true
        mode: '0600'
      when: cache_cred_enabled.found != 0
  when:
    - toss_04_010250 | bool
  tags:
    - V-252933
    - SRG-OS-000383-GPOS-00166
    - TOSS-04-010250
    - DISA-STIG-TOSS-04-010250
    - medium_severity
    - CCI-002007
    - DISA-STIG-RHEL-08-020290
