# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252969

# Verify the operating system limits the ability of non-privileged users to
# grant other users direct access to the contents of their home directories/folders.
#
# Ensure that the user permissions on all user home directories is set to
# 770 permissions with the following command:
#
#     $ find $(awk -F: '($3>=1000)&&($7 !~ /nologin/){print $6}' /etc/passwd) -maxdepth 0 -not -perm 770 -ls
#
# If there is any output, this is a finding.


- name: TOSS-04-020300 - All TOSS local interactive user home directories must have mode 0770 or less permissive.
  block:
    - name: TOSS-04-020300 - Get all local users from /etc/passwd, ignoring any errors from directories that don't exist on this system
      ansible.builtin.shell:
        cmd: "find $(awk -F: '($3>=1000)&&($7 !~ /nologin/)&&($7 !~ /false/)&&($7 !~ /null/){print $6}' /etc/passwd) -xdev -maxdepth 0 -perm /007 2> /dev/null"
      register: local_users
      changed_when: false
      failed_when: local_users.rc not in [0,1]
      check_mode: false
    - name: TOSS-04-020300 - Ensure interactive local users have 0770 or less permissive on their respective home directories
      ansible.builtin.file:
        path: '{{ item }}'
        mode: '770'
        follow: false
        recurse: false
      loop: '{{ local_users.stdout_lines }}'
  when:
    - toss_04_020300 | bool
  tags:
    - V-252969
    - SRG-OS-000480-GPOS-00230
    - TOSS-04-020300
    - DISA-STIG-TOSS-04-020300
    - medium_severity
    - CCI-000366
    - DISA-STIG-RHEL-08-010730
    - user_permissions
