# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253075

# Verify the operating system disables the ability to load the CAN protocol
# kernel module.
#
#     $ sudo grep -r can /etc/modprobe.d/* | grep install
#     install can /bin/false
#
# If the command does not return any output, or the line is commented out,
# and use of the CAN protocol is not documented with the Information System
# Security Officer (ISSO) as an operational requirement, this is a finding.
#
# Verify the operating system disables the ability to use the CAN protocol.
#
# Check to see if the CAN protocol is disabled with the following command:
#
#     $ sudo grep -r can /etc/modprobe.d/* | grep "blacklist"
#     blacklist can
#
# If the command does not return any output or the output is not
# "blacklist can", and use of the CAN protocol is not documented with the
# Information System Security Officer (ISSO) as an operational requirement,
# this is a finding.


- name: TOSS-04-040200 - TOSS must disable the controller area network (CAN) protocol. Check can.conf
  ansible.builtin.lineinfile:
    create: true
    dest: /etc/modprobe.d/can.conf
    regexp: install\s+can
    line: install can /bin/false
    mode: '644'
  when:
    - toss_04_040200 | bool
  tags:
    - V-253075
    - SRG-OS-000095-GPOS-00049
    - TOSS-04-040200
    - DISA-STIG-TOSS-04-040200
    - medium_severity
    - CCI-000381
    - isso_documented

- name: TOSS-04-040200 - TOSS must disable the controller area network (CAN) protocol. Check blacklist-can.conf
  ansible.builtin.lineinfile:
    create: true
    dest: /etc/modprobe.d/blacklist-can.conf
    regexp: ^blacklist can$
    line: blacklist can
    mode: '644'
  when:
    - toss_04_040200 | bool
  tags:
    - V-253075
    - SRG-OS-000095-GPOS-00049
    - TOSS-04-040200
    - DISA-STIG-TOSS-04-040200
    - medium_severity
    - CCI-000381
    - isso_documented
