# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253136

# Verify the operating system is configured to enable DAC on symlinks with
# the following commands:
#
# Check the status of the fs.protected_symlinks kernel parameter.
#
#     $ sudo sysctl fs.protected_symlinks
#     fs.protected_symlinks = 1
#
# If "fs.protected_symlinks" is not set to "1" or is missing, this is a finding.
#
# Check that the configuration files are present to enable this kernel parameter.
#
#     $ sudo grep -r fs.protected_symlinks /run/sysctl.d/*.conf /usr/local/lib/sysctl.d/*.conf /usr/lib/sysctl.d/*.conf /lib/sysctl.d/*.conf /etc/sysctl.conf /etc/sysctl.d/*.conf
#     /etc/sysctl.d/99-sysctl.conf:fs.protected_symlinks = 1
#
# If "fs.protected_symlinks" is not set to "1", is missing or commented out,
# this is a finding.
#
# If conflicting results are returned, this is a finding.


- name: TOSS-04-040950 - TOSS must enable kernel parameters to enforce discretionary access control on symlinks.
  ansible.posix.sysctl:
    name: fs.protected_symlinks
    value: 1
    state: present
    reload: true
  when:
    - toss_04_040950 | bool
  tags:
    - V-253136
    - SRG-OS-000312-GPOS-00122
    - TOSS-04-040950
    - DISA-STIG-TOSS-04-040950
    - medium_severity
    - CCI-002165
    - CCI-002235
