# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252970

# Check that all user home directories are owned by the root user with the
# following command:
#
#     $ find $(awk -F: '($3>=1000)&&($7 !~ /nologin/){print $6}' /etc/passwd) -maxdepth 0 -not -user root -ls
#
# If there is any output, this is a finding.


- name: TOSS-04-020310 - All TOSS local interactive user home directories must be owned by root.
  block:
    - name: TOSS-04-020310 - Get the list of home directories not owned by root, ignoring any errors from directories that don't exist on this system
      ansible.builtin.shell:
        cmd: "find $(awk -F: '($3>=1000)&&($7 !~ /nologin/)&&($7 !~ /false/)&&($7 !~ /null/){print $6}' /etc/passwd) -xdev -maxdepth 0 -not -user root 2> /dev/null"
      register: home_dirs
      changed_when: false
      failed_when: home_dirs.rc not in [0,1]
      check_mode: false
    - name: TOSS-04-020310 - Change the owner of the local interactive user's home directory
      ansible.builtin.file:
        path: '{{ item }}'
        owner: root
      loop: '{{ home_dirs.stdout_lines }}'
  when:
    - toss_04_020310 | bool
  tags:
    - V-252970
    - SRG-OS-000480-GPOS-00230
    - TOSS-04-020310
    - DISA-STIG-TOSS-04-020310
    - medium_severity
    - CCI-000366
    - user_permissions
