# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253068

# Verify TOSS prohibits password reuse for a minimum of five generations.
#
# Check for the value of the "remember" argument in "/etc/pam.d/system-auth"
# and "/etc/pam.d/password-auth" with the following command:
#
#     $ sudo grep -i remember /etc/pam.d/system-auth /etc/pam.d/password-auth
#     /etc/pam.d/system-auth:password required pam_pwhistory.so use_authtok remember=5 retry=3
#     /etc/pam.d/password-auth:password required pam_pwhistory.so use_authtok remember=5 retry=3
#
# If either file is missing "pam_pwhistory.so" and does not have the
# "remember" module argument set, is commented out, or the value of the
# "remember" module argument is set to less than "5", this is a finding.


- name: TOSS-04-040130 - TOSS must prohibit password reuse for a minimum of five generations. Check password-auth.
  community.general.pamd:
    name: password-auth
    type: password
    control: requisite
    module_path: pam_pwhistory.so
    module_arguments: 'remember=5 retry=3'
    state: args_present
    backup: true
  when:
    - toss_04_040130 | bool
  tags:
    - V-253068
    - SRG-OS-000077-GPOS-00045
    - TOSS-04-040130
    - DISA-STIG-TOSS-04-040130
    - medium_severity
    - CCI-000200
- name: TOSS-04-040130 - TOSS must prohibit password reuse for a minimum of five generations. Check system-auth.
  community.general.pamd:
    name: system-auth
    type: password
    control: requisite
    module_path: pam_pwhistory.so
    module_arguments: 'remember=5 retry=3'
    state: args_present
    backup: true
  when:
    - toss_04_040130 | bool
  tags:
    - V-253068
    - SRG-OS-000077-GPOS-00045
    - TOSS-04-040130
    - DISA-STIG-TOSS-04-040130
    - medium_severity
    - CCI-000200
