# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253073

# Verify TOSS disables network management of the chrony daemon with the
# following command:
#
#     $ sudo grep -w 'cmdport' /etc/chrony.conf
#     cmdport 0
#
# If the "cmdport" option is not set to "0", is commented out or missing,
# this is a finding.


- name: TOSS-04-040180 - TOSS must disable network management of the chrony daemon.
  ansible.builtin.lineinfile:
    path: /etc/chrony.conf
    line: cmdport 0
  when:
    - toss_04_040180 | bool
  tags:
    - V-253073
    - SRG-OS-000095-GPOS-00049
    - TOSS-04-040180
    - DISA-STIG-TOSS-04-040180
    - medium_severity
    - CCI-000381
