# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253064

# Verify that the TOSS shadow password suite configuration is set to
# encrypt password with a FIPS 140-2-approved cryptographic hashing algorithm.
# Check the hashing algorithm that is being used to hash passwords with the
# following command: $ sudo grep -i crypt /etc/login.defs ENCRYPT_METHOD SHA512 If
# "ENCRYPT_METHOD" does not equal SHA512 or greater, this is a finding.

# Verify that the TOSS shadow password suite configuration is set to encrypt
# password with a FIPS 140-2-approved cryptographic hashing algorithm.
#
# Check the hashing algorithm that is being used to hash passwords with the
# following command:
#
#     $ sudo grep -i crypt /etc/login.defs
#     ENCRYPT_METHOD SHA512
#
# If "ENCRYPT_METHOD" does not equal SHA512 or greater, this is a finding.


- name: TOSS-04-040090 - TOSS must store only encrypted representations of passwords.
  ansible.builtin.lineinfile:
    path: /etc/login.defs
    line: ENCRYPT_METHOD SHA512
  when:
    - toss_04_040090 | bool
  tags:
    - V-253064
    - SRG-OS-000073-GPOS-00041
    - TOSS-04-040090
    - DISA-STIG-TOSS-04-040090
    - medium_severity
    - CCI-000196
