# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253103

# Verify that the system is configured to boot to the command line:
#
#     $ systemctl get-default
#     multi-user.target
#
# If the system default target is not set to "multi-user.target" and the
# Information System Security Officer (ISSO) lacks a documented requirement
# for a graphical user interface, this is a finding.
#
# Verify that a graphical user interface is not installed:
#
#     $ rpm -qa | grep xorg | grep server
#
# Ask the System Administrator if use of a graphical user interface is an
# operational requirement.
#
# If the use of a graphical user interface on the system is not documented
# with the ISSO, this is a finding.


- name: TOSS-04-040610 - The graphical display manager must not be installed on TOSS unless approved.
  ansible.builtin.command: systemctl set-default multi-user.target
  register: set_default_target
  changed_when: "'Created symlink' in set_default_target.stdout"
  when:
    - toss_04_040610 | bool
  tags:
    - V-253103
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-040610
    - DISA-STIG-TOSS-04-040610
    - medium_severity
    - CCI-000366
    - isso_documented
