# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253101

# Verify that "rsyslog" is configured to log cron events with the
# following command:
#
# Note: If another logging package is used, substitute the utility
# configuration file for "/etc/rsyslog.conf" or "/etc/rsyslog.d/*.conf"
# files.
#
#     $ sudo grep -r cron /etc/rsyslog.conf /etc/rsyslog.d
#     /etc/rsyslog.conf:*.info;mail.none;authpriv.none;cron.none                          /var/log/messages
#     /etc/rsyslog.conf:# Log cron stuff
#     /etc/rsyslog.conf:cron.*                                                                                                    /var/log/cron
#
# If the command does not return a response, check for cron logging all
# facilities with the following command.
#
#     $ sudo grep -r /var/log/messages /etc/rsyslog.conf /etc/rsyslog.d
#     /etc/rsyslog.conf:*.info;mail.none;authpriv.none;cron.none                          /var/log/messages
#
# If "rsyslog" is not logging messages for the cron facility or all
# facilities, this is a finding.


- name: TOSS-04-040590 - Cron logging must be implemented in TOSS.
  block:
    - name: TOSS-04-040590 - Check that rsyslog is configured to log cron events
      ansible.builtin.command: "grep -r cron /etc/rsyslog.conf /etc/rsyslog.d"
      changed_when: false
      check_mode: false
      failed_when: cron_output.rc not in [0,1]
      register: cron_output
    - name: TOSS-04-040590 - Check for cron logging all facilities
      ansible.builtin.command: "grep -r /var/log/messages /etc/rsyslog.conf /etc/rsyslog.d"
      changed_when: false
      check_mode: false
      failed_when: varlog_output.rc not in [0,1]
      register: varlog_output
      when: cron_output.rc != 0
    - name: TOSS-04-040590 - Configure "rsyslog" to log all cron messages
      ansible.builtin.lineinfile:
        path: /etc/rsyslog.conf
        line: "cron.* /var/log/cron"
      when: varlog_output.skipped is not defined and varlog_output.rc != 0 and cron_output.rc != 0
      notify: Restart rsyslog
  when:
    - toss_04_040590 | bool
  tags:
    - V-253101
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-040590
    - DISA-STIG-TOSS-04-040590
    - medium_severity
    - CCI-000366
