# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252937

# Check the system for duplicate UID "0" assignments with the following
# command: $ sudo awk -F: '$3 == 0 {print $1}' /etc/passwd If any accounts other
# than root have a UID of "0", this is a finding.

# Check the system for duplicate UID "0" assignments with the following command:
#
#     $ sudo awk -F: '$3 == 0 {print $1}' /etc/passwd
#
# If any accounts other than root have a UID of "0", this is a finding.


- name: TOSS-04-010350 - The root account must be the only account having unrestricted access to the TOSS system.
  block:
    - name: TOSS-04-010350 - Verify Only Root Has UID 0
      ansible.builtin.command: awk -F':' '$3 == 0 && $1 != "root" { print $1 }' /etc/passwd
      register: uidzero
      changed_when: false
      failed_when: false
      check_mode: false
    - name: TOSS-04-010350 - Verify Only Root Has UID 0
      ansible.builtin.assert:
        that:
          - uidzero.stdout_lines | length == 0
        fail_msg: "Another account has been found to have uid 0 in /etc/passwd besides root."
        quiet: true
  when:
    - toss_04_010350 | bool
  tags:
    - V-252937
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-010350
    - DISA-STIG-TOSS-04-010350
    - high_severity
    - CCI-000366
    - NASA-ASCS-20121
