# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253131

# Verify TOSS will not accept IPv6 ICMP redirect messages.
#
# Note: If IPv6 is disabled on the system, this requirement is Not Applicable.
#
# Check the value of the default "accept_redirects" variables with the
# following command:
#
#     $ sudo sysctl net.ipv6.conf.default.accept_redirects
#     net.ipv6.conf.default.accept_redirects = 0
#
# If the returned line does not have a value of "0", a line is not returned,
# or the line is commented out, this is a finding.


- name: TOSS-04-040900 - TOSS must prevent IPv6 Internet Control Message Protocol (ICMP) redirect messages from being accepted.
  ansible.builtin.lineinfile:
    path: /etc/sysctl.conf
    regexp: '^(?i)#?net.ipv6.conf.default.accept_redirects'
    line: 'net.ipv6.conf.default.accept_redirects = 0'
    state: present
    backup: true
  notify: Reload sysctl
  when:
    - toss_04_040900 | bool
  tags:
    - V-253131
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-040900
    - DISA-STIG-TOSS-04-040900
    - medium_severity
    - CCI-000366
    - NASA-ASCS-20270
