# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253008

# Verify that the files in directory "/etc/audit/rules.d/" and
# "/etc/audit/auditd.conf" file have a mode of "0640" or less permissive by
# using the following commands:
#
#     $ sudo ls -l /etc/audit/rules.d
#     -rw-r----- 1 root root 1280 Feb 16 17:09 audit.rules
#
#     $ sudo ls -l /etc/audit/auditd.conf
#     -rw-r----- 1 root root 621 Sep 22 17:19 auditd.conf
#
# If the files in the "/etc/audit/rules.d/" directory or the
# "/etc/audit/auditd.conf" file have a mode more permissive than "0640",
# this is a finding.


- name: TOSS-04-030550 - TOSS must allow only the Information System Security Manager (ISSM) (or individuals or roles appointed by the ISSM) to select which auditable events are to be audited.
  block:
    - name: TOSS-04-030550 - Gather any file paths in "/etc/audit/rules.d/" and "/etc/audit/auditd.conf" file that have a mode of "0640" or less permissive
      ansible.builtin.command: "find /etc/audit/rules.d/ /etc/audit/auditd.conf -xdev -maxdepth 1 -perm /037"
      register: audit_paths
      changed_when: false
      failed_when: audit_paths.rc not in [0,1]
      check_mode: false
    - name: TOSS-04-030550 - Set the file permissions to '0640'
      ansible.builtin.file:
        path: '{{ item }}'
        mode: '0640'
        recurse: false
      loop: '{{ audit_paths.stdout_lines }}'
  when:
    - toss_04_030550 | bool
  tags:
    - CCI-000171
    - DISA-STIG-TOSS-04-030550
    - medium_severity
    - NASA-ASCS-20009
    - SRG-OS-000063-GPOS-00032
    - TOSS-04-030550
    - V-253008
