# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252946

# Verify the "/etc/security/faillock.conf" file is configured to lock an account
# after three unsuccessful logon attempts within 15 minutes:
#
#     $ sudo grep -e "deny =" -e "fail_interval =" /etc/security/faillock.conf
#     deny = 3
#     fail_interval = 900
#
# If the "deny" option is set to "0", more than "3", is missing, or is
# commented out, this is a finding.
# If the "fail_interval" option is set to less than "900", is missing, or is
# commented out, this is a finding.
#
# Note: If the System Administrator demonstrates the use of an approved
# centralized account management method that locks an account after three
# unsuccessful logon attempts within a period of 15 minutes, this requirement
# is Not Applicable.


- name: TOSS-04-020000 - TOSS must enforce the limit of three consecutive invalid logon attempts by a user during a 15-minute time period.
  block:
    - name: TOSS-04-020000 - Ensure a maximum number of invalid login attempts
      ansible.builtin.lineinfile:
        path: /etc/security/faillock.conf
        regexp: ^\s*deny\s*=
        line: deny = {{ pam_faillock_deny }}
        state: present
    - name: TOSS-04-020000 - Ensure the auth fail time range is set correctly.
      ansible.builtin.lineinfile:
        path: /etc/security/faillock.conf
        regexp: ^\s*fail_interval\s*=
        line: fail_interval = {{ pam_faillock_interval }}
        state: present
  when:
    - toss_04_020000 | bool
  tags:
    - V-252946
    - SRG-OS-000021-GPOS-00005
    - TOSS-04-020000
    - DISA-STIG-TOSS-04-020000
    - medium_severity
    - CCI-000044
