# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253081

# Inspect the firewall configuration and running services to verify it is
# configured to prohibit or restrict the use of functions, ports, protocols,
# and/or services that are unnecessary or prohibited.
#
# Check which services are currently active with the following command:
#
#     $ sudo firewall-cmd --list-all-zones
#     custom (active)
#     target: DROP
#     icmp-block-inversion: no
#     interfaces: ens33
#     sources:
#     services: dhcpv6-client dns http https ldaps rpc-bind ssh
#     ports:
#     masquerade: no
#     forward-ports:
#     icmp-blocks:
#     rich rules:
#
# Ask the System Administrator for the site or program Ports, Protocols,
# and Services Management Component Local Service Assessment (PPSM CLSA).
# Verify the services allowed by the firewall match the PPSM CLSA.
#
# If there are additional ports, protocols, or services that are not in the
# PPSM CLSA, or there are ports, protocols, or services that are prohibited
# by the PPSM Category Assurance List (CAL), this is a finding.


- name: TOSS-04-040270 - TOSS must be configured to prohibit or restrict the use of functions, ports, protocols, and/or services, as defined in the PPSM CAL and vulnerability assessments.
  block:
    - name: TOSS-04-040270 - Gather information about active zones
      ansible.posix.firewalld_info:
        active_zones: true
      register: result
    - name: TOSS-04-040270 - List all zones
      ansible.builtin.debug:
        var: result.firewalld_info.zones
        verbosity: 1
    # TODO: fail if there are no rules at all

  when:
    - toss_04_040270 | bool
  tags:
    - V-253081
    - SRG-OS-000096-GPOS-00050
    - TOSS-04-040270
    - DISA-STIG-TOSS-04-040270
    - medium_severity
    - CCI-000382
    - DISA-STIG-RHEL-08-040030
    - manual
