# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253107

# Verify the SSH private host key files have mode "0600" or less permissive
# with the following command:
#
#     $ sudo ls -l /etc/ssh/ssh_host*key
#     -rw------- 1 root ssh_keys 668 Nov 28 06:43 ssh_host_dsa_key
#     -rw------- 1 root ssh_keys 582 Nov 28 06:43 ssh_host_key
#     -rw------- 1 root ssh_keys 887 Nov 28 06:43 ssh_host_rsa_key
#
# If any private host key file has a mode more permissive than "0600", this
# is a finding.


- name: TOSS-04-040660 - The TOSS SSH private host key files must have mode 0600 or less permissive.
  block:
    - name: TOSS-04-040660 - find SSH private host key
      ansible.builtin.find:
        paths: /etc/ssh/
        file_type: file
        patterns: 'ssh_host*key'
      register: ssh_keys
    - name: TOSS-04-040660 - verify SSH private host key files have mode "0600" or less
      ansible.builtin.file:
        path: '{{ ssh_key.path }}'
        mode: '0600'
      loop: '{{ ssh_keys.files }}'
      loop_control:
        loop_var: ssh_key
  when:
    - toss_04_040660 | bool
  tags:
    - CCI-000366
    - DISA-STIG-TOSS-04-040660
    - medium_severity
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-040660
    - V-253107
