# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252954

# Verify emergency accounts have been provisioned with an expiration
# date of 72 hours.
#
# For every existing emergency account, run the following command to obtain
# its account expiration information.
#
#     $ sudo chage -l system_account_name
#
# Verify each of these accounts has an expiration date set within 72 hours.
# If any emergency accounts have no expiration date set or do not expire
# within 72 hours, this is a finding.
#
# If there are no emergency accounts configured, this requirement is Not
# Applicable.


- name: TOSS-04-020140 - TOSS must automatically remove or disable emergency accounts after the crisis is resolved or 72 hours.
  block:
    - name: TOSS-04-020140 - Get all /etc/passwd file entries
      ansible.builtin.getent:
        database: passwd
        split: ':'
    - name: TOSS-04-020140 - Create local_users variable from the getent output
      ansible.builtin.set_fact:
        local_users: '{{ ansible_facts.getent_passwd | dict2items }}'
    - name: TOSS-04-020140 - Get the password expiry information
      ansible.builtin.command: "chage -l {{ item.key }}"
      check_mode: false
      changed_when: false
      register: password_expiry
      loop: "{{ local_users }}"
    - name: TOSS-04-020140 - List all accounts password expiry information. If one is a emergency account, configure the system to terminate the account after 72 hours
      ansible.builtin.debug:
        var: password_expiry
        verbosity: 1
  when:
    - toss_04_020140 | bool
  tags:
    - V-252954
    - SRG-OS-000123-GPOS-00064
    - TOSS-04-020140
    - DISA-STIG-TOSS-04-020140
    - medium_severity
    - CCI-001682
    - manual
