# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253124

# Verify TOSS does not accept IPv4 source-routed packets by default.
#
# Note: If IPv4 is disabled on the system, this requirement is Not Applicable.
#
# Check the value of the accept source route variable with the following
# command:
#
#     $ sudo sysctl net.ipv4.conf.default.accept_source_route
#     net.ipv4.conf.default.accept_source_route = 0
#
# If the returned line does not have a value of "0", a line is not returned,
# or the line is commented out, this is a finding.


- name: TOSS-04-040830 - TOSS must not forward IPv4 source-routed packets by default.
  ansible.builtin.lineinfile:
    path: /etc/sysctl.conf
    regexp: '^(?i)#?net.ipv4.conf.default.accept_source_route'
    line: 'net.ipv4.conf.default.accept_source_route = 0'
    state: present
    backup: true
  notify: Reload sysctl
  when:
    - toss_04_040830 | bool
  tags:
    - V-253124
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-040830
    - DISA-STIG-TOSS-04-040830
    - medium_severity
    - CCI-000366
    - NASA-ASCS-20194
