# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253096

# Verify TOSS prevents the use of dictionary words for passwords.
#
# Determine if the field "dictcheck" is set in the "/etc/security/pwquality.conf"
# or "/etc/security/pwquality.conf.d/*.conf" files with the following command:
#
#     $ sudo grep -r dictcheck /etc/security/pwquality.conf /etc/security/pwquality.conf.d
#     /etc/security/pwquality.conf:dictcheck=1
#
# If the "dictcheck" parameter is not set to "1", or is commented out,
# this is a finding.


- name: TOSS-04-040540 - TOSS must prevent the use of dictionary words for passwords.
  ansible.builtin.lineinfile:
    path: /etc/security/pwquality.conf
    regexp: '^#?\s*dictcheck'
    line: 'dictcheck = 1'
    backup: true
  when:
    - toss_04_040540 | bool
  tags:
    - V-253096
    - SRG-OS-000480-GPOS-00225
    - DISA-STIG-TOSS-04-040540
    - TOSS-04-040540
    - medium_severity
    - CCI-000366
