# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253083

# Verify all network connections associated with SSH traffic are
# automatically terminated at the end of the session or after 10 minutes
# of inactivity, or as long as documented with the Information System
# Security Officer (ISSO) as an operational requirement.
#
# Check that the "ClientAliveInterval" variable is set to a value of "600"
# or less and that the "ClientAliveCountMax" is set to "1" by performing
# the following command:
#
#     $ sudo grep -i clientalive /etc/ssh/sshd_config
#     ClientAliveInterval 600
#     ClientAliveCountMax 1
#
# If "ClientAliveInterval" and "ClientAliveCountMax" do not exist, does
# not have a product value of "600" or less in "/etc/ssh/sshd_config",
# or is commented out, this is a finding.


- name: TOSS-04-040290 - TOSS must be configured so that all network connections associated with SSH traffic are terminated at the end of the session or after 10 minutes of inactivity, except to fulfill documented and validated mission requirements.
  block:
    - name: TOSS-04-040290 - check "ClientAliveInterval" is set to a value of "600" or less
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^(?i)#?ClientAliveInterval'
        line: 'ClientAliveInterval 600'
        state: present
        backup: true
        validate: /usr/sbin/sshd -t -f %s
      notify: Restart sshd
    - name: TOSS-04-040290 - check "ClientAliveCountMax" is set to a value of "1"
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^(?i)#?ClientAliveCountMax'
        line: 'ClientAliveCountMax 1'
        state: present
        backup: true
        validate: /usr/sbin/sshd -t -f %s
      notify: Restart sshd
  when:
    - toss_04_040290 | bool
  tags:
    - V-253083
    - SRG-OS-000126-GPOS-00066
    - TOSS-04-040290
    - DISA-STIG-TOSS-04-040290
    - medium_severity
    - CCI-000879
    - CCI-001133
    - CCI-002361
