# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252931

# Verify the operating system requires re-authentication when using the
# "sudo" command to elevate privileges. $ sudo egrep -ir 'timestamp_timeout'
# /etc/sudoers /etc/sudoers.d /etc/sudoers:Defaults timestamp_timeout=0 If
# "timestamp_timeout" is set to a negative number, is commented out, or no results
# are returned, this is a finding.

# Verify the operating system requires re-authentication when using the
# "sudo" command to elevate privileges.
#
#     $ sudo egrep -ir 'timestamp_timeout' /etc/sudoers /etc/sudoers.d
#     /etc/sudoers:Defaults timestamp_timeout=0
#
# If "timestamp_timeout" is set to a negative number, is commented out, or
# no results are returned, this is a finding.


- name: TOSS-04-010230 - TOSS must require re-authentication when using the "sudo" command.
  block:
    - name: TOSS-04-010230 - Find out if /etc/sudoers.d/* files contain 'Defaults timestamp_timeout' to be deduplicated
      ansible.builtin.find:
        path: /etc/sudoers.d
        patterns: '*'
        contains: ^[\s]*Defaults\s.*\btimestamp_timeout[\s]*=.*
      register: sudoers_d_defaults_timestamp_timeout
    - name: TOSS-04-010230 - Remove found occurrences of 'Defaults timestamp_timeout' from /etc/sudoers.d/* files
      ansible.builtin.lineinfile:
        path: '{{ item.path }}'
        regexp: ^[\s]*Defaults\s.*\btimestamp_timeout[\s]*=.*
        state: absent
      with_items: '{{ sudoers_d_defaults_timestamp_timeout.files }}'
    - name: TOSS-04-010230 - Ensure timestamp_timeout is enabled with the appropriate value in /etc/sudoers
      ansible.builtin.lineinfile:
        path: /etc/sudoers
        regexp: ^[\s]*Defaults\s(.*)\btimestamp_timeout[\s]*=[\s]*[-]?\w+\b(.*)$
        line: Defaults \1timestamp_timeout={{ var_sudo_timestamp_timeout }}\2
        validate: /usr/sbin/visudo -cf %s
        backrefs: true
      register: edit_sudoers_timestamp_timeout_option
    - name: TOSS-04-010230 - Enable timestamp_timeout option with appropriate value in /etc/sudoers
      ansible.builtin.lineinfile:
        path: /etc/sudoers
        line: Defaults timestamp_timeout={{ var_sudo_timestamp_timeout }}
        validate: /usr/sbin/visudo -cf %s
  when:
    - toss_04_010230 | bool
  tags:
    - V-252931
    - SRG-OS-000373-GPOS-00158
    - TOSS-04-010230
    - DISA-STIG-TOSS-04-010230
    - medium_severity
    - CCI-002038
    - DISA-STIG-RHEL-08-010384
