# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252941

# Verify TOSS is not performing packet forwarding unless the system is a router.
# If the system is a router (sometimes called a gateway) this requirement
# is Not Applicable.
#
# Note: If either IPv4 or IPv6 is disabled on the system, this requirement
# only applies to the active internet protocol version.
#
# Check to see if IP forwarding is enabled using the following commands:
#
#     $ sudo sysctl net.ipv4.ip_forward
#     net.ipv4.ip_forward = 0
#     $ sudo sysctl net.ipv6.conf.all.forwarding
#     net.ipv6.conf.all.forwarding = 0
#
# If IP forwarding value is not "0" and is not documented with the Information
# System Security Officer (ISSO) as an operational requirement, this is a finding.


- name: TOSS-04-010390 - TOSS must not be performing packet forwarding unless the system is a router.
  block:
    - name: TOSS-04-010390 - Ensure ipv4 forwarding is disabled
      ansible.builtin.lineinfile:
        path: /etc/sysctl.conf
        regexp: '^(?i)#?net.ipv4.ip_forward'
        line: 'net.ipv4.ip_forward = 0'
        state: present
        backup: true
      notify: Reload sysctl
    - name: TOSS-04-010390 - Ensure ipv6 forwarding is disabled
      ansible.builtin.lineinfile:
        path: /etc/sysctl.conf
        regexp: '^(?i)#?net.ipv6.conf.all.forwarding'
        line: 'net.ipv6.conf.all.forwarding = 0'
        state: present
        backup: true
      notify: Reload sysctl
  when:
    - toss_04_010390 | bool
  tags:
    - V-252941
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-010390
    - DISA-STIG-TOSS-04-010390
    - medium_severity
    - CCI-000366
