# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252940

# To verify that null passwords cannot be used, run the following command:
#
#     $ sudo grep -i nullok /etc/pam.d/system-auth
#
# If output is produced, this is a finding.


- name: TOSS-04-010380 - TOSS must not allow blank or null passwords in the system-auth file.
  ansible.builtin.replace:
    path: '/etc/pam.d/system-auth'
    regexp: '(nullok_secure|nullok)'
    backup: true
  when:
    - toss_04_010380 | bool
  tags:
    - V-252940
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-010380
    - DISA-STIG-TOSS-04-010380
    - high_severity
    - CCI-000366
