# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252921

# Check to see that all public directories are owned by root or a system account
# with the following command:
#
#     $ sudo find / -type d -perm -0002 -exec ls -lLd {} \;
#     drwxrwxrwxt 7 root root 4096 Jul 26 11:19 /tmp
#
# If any of the returned directories are not owned by root or a system account,
# this is a finding.


- name: TOSS-04-010100 - TOSS must prevent unauthorized and unintended information transfer via shared system resources.
  block:
    - name: TOSS-04-010100 - Check to see if there are any public directories without an owner
      ansible.builtin.command: find / -xdev -nouser -type d -perm -0002
      register: unowned_dirs
      check_mode: false
      changed_when: false
    - name: TOSS-04-010100 - Set the owner of public directories without an owner to root
      ansible.builtin.file:
        path: "{{ item }}"
        owner: root
      loop: "{{ unowned_dirs.stdout_lines }}"
      when: unowned_dirs.stdout | length > 0
  when:
    - toss_04_010100 | bool
  tags:
    - V-252921
    - SRG-OS-000138-GPOS-00069
    - TOSS-04-010100
    - DISA-STIG-TOSS-04-010100
    - medium_severity
    - CCI-001090
