# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253076

# Verify the operating system disables the ability to load the SCTP protocol
# kernel module.
#
#     $ sudo grep -r sctp /etc/modprobe.d/* | grep install
#     install sctp /bin/false
#
# If the command does not return any output, or the line is commented out,
# and use of the SCTP protocol is not documented with the Information System
# Security Officer (ISSO) as an operational requirement, this is a finding.
#
# Verify the operating system disables the ability to use the SCTP protocol.
#
# Check to see if the SCTP protocol is disabled with the following command:
#
#     $ sudo grep -r sctp /etc/modprobe.d/* | grep "blacklist"
#     blacklist sctp
#
# If the command does not return any output or the output is not
# "blacklist sctp", and use of the SCTP protocol is not documented with the
# Information System Security Officer (ISSO) as an operational requirement,
# this is a finding.


- name: TOSS-04-040210 - TOSS must disable the stream control transmission (SCTP) protocol. Check/create installs to /bin/false
  ansible.builtin.lineinfile:
    create: true
    dest: /etc/modprobe.d/sctp.conf
    regexp: install\s+sctp
    line: install sctp /bin/false
    mode: '644'
  when:
    - toss_04_040210 | bool
  tags:
    - V-253076
    - SRG-OS-000095-GPOS-00049
    - TOSS-04-040210
    - DISA-STIG-TOSS-04-040210
    - medium_severity
    - CCI-000381
    - isso_documented

- name: TOSS-04-040210 - TOSS must disable the stream control transmission (SCTP) protocol. Check/Create blacklist-sctp.conf
  ansible.builtin.lineinfile:
    create: true
    dest: /etc/modprobe.d/blacklist-sctp.conf
    regexp: ^blacklist sctp$
    line: blacklist sctp
    mode: '644'
  when:
    - toss_04_040210 | bool
  tags:
    - V-253076
    - SRG-OS-000095-GPOS-00049
    - TOSS-04-040210
    - DISA-STIG-TOSS-04-040210
    - medium_severity
    - CCI-000381
    - isso_documented
