# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253086

# Verify the system commands contained in the following directories are
# owned by "root" or an appropriate system account with the following command:
#
#     $ sudo find -L /bin /sbin /usr/bin /usr/sbin /usr/local/bin /usr/local/sbin ! -user root -exec ls -l {} \;
#
# If any system commands are returned which are not owned by an appropriate
# system account, this is a finding.
#
# Verify the system-wide shared library files are owned by "root" or an
# appropriate system account with the following command:
#
#     $ sudo find -L /lib /lib64 /usr/lib /usr/lib64 ! -user root -exec ls -l {} \;
#
# If any system wide shared library file is returned which is not owned
# by an appropriate system account, this is a finding.


- name: TOSS-04-040340 - TOSS must limit privileges to change software resident within software libraries.
  block:
    - name: TOSS-04-040340 - Read list of system executables without root ownership
      ansible.builtin.command: find -L /bin/ /usr/bin/ /usr/local/bin/ /sbin/ /usr/sbin/ /usr/local/sbin/ /usr/libexec \! -user root
      register: no_root_system_executables
      changed_when: false
      failed_when: false
      check_mode: false
    - name: TOSS-04-040340 - Set ownership to root of system executables
      ansible.builtin.file:
        path: '{{ item }}'
        owner: root
      loop: '{{ no_root_system_executables.stdout_lines }}'
    - name: TOSS-04-040340 - Read list of library files without root ownership
      ansible.builtin.command: find -L /lib /lib64 /usr/lib /usr/lib64 \! -user root
      register: no_root_library_files
      changed_when: false
      failed_when: false
      check_mode: false
    - name: TOSS-04-040340 - Set ownership to root of library files
      ansible.builtin.file:
        path: '{{ item }}'
        owner: root
      loop: '{{ no_root_library_files.stdout_lines }}'
  when:
    - toss_04_040340 | bool
  tags:
    - V-253086
    - SRG-OS-000259-GPOS-00100
    - TOSS-04-040340
    - DISA-STIG-TOSS-04-040340
    - medium_severity
    - CCI-001499
    - DISA-STIG-RHEL-08-010310
    - DISA-STIG-RHEL-08-010340
