# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253058

# Verify the SSH server is configured to force frequent session key
# renegotiation with the following command:
#
#     $ sudo grep -i RekeyLimit /etc/ssh/sshd_config
#     RekeyLimit 1G 1h
#
# If "RekeyLimit" does not have a maximum data amount and maximum time
# defined, is missing or commented out, this is a finding.


- name: TOSS-04-040030 - TOSS must force a frequent session key renegotiation for SSH connections to the server.
  block:
    - name: TOSS-04-040030 - Check for duplicate values
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        create: false
        regexp: (?i)^\s*RekeyLimit\s+
        state: absent
      check_mode: true
      changed_when: false
      register: dupes
    - name: TOSS-04-040030 - Deduplicate values from /etc/ssh/sshd_config
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        create: false
        regexp: (?i)^\s*RekeyLimit\s+
        state: absent
      when: dupes.found is defined and dupes.found > 1
    - name: TOSS-04-040030 - Insert correct line to /etc/ssh/sshd_config
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        create: true
        regexp: (?i)^\s*RekeyLimit\s+
        line: RekeyLimit {{ var_rekey_limit_size }} {{ var_rekey_limit_time }}
        state: present
        insertbefore: ^[#\s]*Match
        validate: /usr/sbin/sshd -t -f %s
        mode: '0600'
  when:
    - toss_04_040030 | bool
  tags:
    - V-253058
    - SRG-OS-000033-GPOS-00014
    - TOSS-04-040030
    - DISA-STIG-TOSS-04-040030
    - medium_severity
    - CCI-000068
    - DISA-STIG-RHEL-08-040161
