# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252984

# Verify the audit system prevents unauthorized changes to logon UIDs
# with the following command:
#
#     $ sudo grep -i immutable /etc/audit/audit.rules
#     --loginuid-immutable
#
# If the login UIDs are not set to be immutable by adding the
# "--loginuid-immutable" option to the "/etc/audit/audit.rules",
# this is a finding.


- name: TOSS-04-030190 - The TOSS audit system must protect logon UIDs from unauthorized change.
  ansible.builtin.lineinfile:
    path: /etc/audit/rules.d/audit.rules
    regexp: ^\s*--loginuid-immutable\s*$
    line: --loginuid-immutable
  notify: Build auditd rules
  when:
    - toss_04_030190 | bool
  tags:
    - V-252984
    - SRG-OS-000057-GPOS-00027
    - TOSS-04-030190
    - DISA-STIG-TOSS-04-030190
    - medium_severity
    - CCI-000162
    - CCI-000163
    - CCI-000164
