# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253085

# Verify TOSS prevents unauthorized disclosure or modification of all
# information requiring at-rest protection by using disk encryption.
#
# If there is a documented and approved reason for not having data-at-rest
# encryption, this requirement is Not Applicable.
#
# Verify all local system partitions are encrypted with the following
# command:
#
#     $ sudo blkid
#     /dev/mapper/rhel-root: UUID="67b7d7fe-de60-6fd0-befb-e6748cf97743" TYPE="crypto_LUKS"
#
# Every persistent disk partition present must be of TYPE "crypto_LUKS."
# If any partitions other than pseudo file systems (such as /proc or /sys)
# are not type "crypto_LUKS", ask the administrator to indicate how the
# partitions are encrypted. If there is no evidence that all local disk
# partitions are encrypted, this is a finding.


- name: TOSS-04-040330 - All TOSS local disk partitions must implement cryptographic mechanisms to prevent unauthorized disclosure or modification of all information that requires at rest protection.
  block:
    - name: TOSS-04-040330 - Gather the attributes of all local system partitions
      ansible.builtin.command: "blkid"
      check_mode: false
      changed_when: false
      register: partitions
    - name: TOSS-04-040330 - Verify all local system partitions are encrypted
      ansible.builtin.assert:
        that:
          - "'crypto_LUKS' in item"
        fail_msg: "This disk partition is not encrypted"
      loop: "{{ partitions.stdout_lines }}"
  when:
    - toss_04_040330 | bool
  tags:
    - V-253085
    - SRG-OS-000185-GPOS-00079
    - TOSS-04-040330
    - DISA-STIG-TOSS-04-040330
    - medium_severity
    - CCI-001199
    - CCI-002475
    - CCI-002476
    - hpc_issue
