# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253128

# Verify TOSS does not respond to ICMP echoes sent to a broadcast address.
#
# Note: If IPv4 is disabled on the system, this requirement is Not Applicable.
#
# Check the value of the "icmp_echo_ignore_broadcasts" variable with the
# following command:
#
#     $ sudo sysctl net.ipv4.icmp_echo_ignore_broadcasts
#     net.ipv4.icmp_echo_ignore_broadcasts = 1
#
# If the returned line does not have a value of "1", a line is not returned,
# or the retuned line is commented out, this is a finding.


- name: TOSS-04-040870 - TOSS must not respond to Internet Control Message Protocol (ICMP) echoes sent to a broadcast address.
  ansible.builtin.lineinfile:
    path: /etc/sysctl.conf
    regexp: '^(?i)#?net.ipv4.icmp_echo_ignore_broadcasts'
    line: 'net.ipv4.icmp_echo_ignore_broadcasts = 1'
    state: present
    backup: true
  notify: Reload sysctl
  when:
    - toss_04_040870 | bool
  tags:
    - V-253128
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-040870
    - DISA-STIG-TOSS-04-040870
    - medium_severity
    - CCI-000366
    - NASA-ASCS-20196
