# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253089

# Verify the audit system is configured to take an appropriate action
# when the internal event queue is full:
#
#     $ sudo grep -i overflow_action /etc/audit/auditd.conf
#     overflow_action = syslog
#
# If the value of the "overflow_action" option is not set to "syslog",
# "single", "halt", or the line is commented out, ask the System
# Administrator to indicate how the audit logs are offloaded to a different
# system or media.
#
# If there is no evidence that the transfer of the audit logs being
# offloaded to another system or media takes appropriate action if the
# internal event queue becomes full, this is a finding.


- name: TOSS-04-040390 - TOSS must take appropriate action when the internal event queue is full.
  block:
    - name: TOSS-04-040390 - Check for duplicate values
      ansible.builtin.lineinfile:
        path: /etc/audit/auditd.conf
        create: false
        regexp: (?i)^\s*overflow_action\s*=\s*
        state: absent
      check_mode: true
      changed_when: false
      register: dupes
    - name: TOSS-04-040390 - Deduplicate values from /etc/audit/auditd.conf
      ansible.builtin.lineinfile:
        path: /etc/audit/auditd.conf
        create: false
        regexp: (?i)^\s*overflow_action\s*=\s*
        state: absent
      when: dupes.found is defined and dupes.found > 1
    - name: TOSS-04-040390 - Insert correct line to /etc/audit/auditd.conf
      ansible.builtin.lineinfile:
        path: /etc/audit/auditd.conf
        create: true
        regexp: (?i)^\s*overflow_action\s*=\s*
        line: overflow_action = syslog
        state: present
        mode: '0640'
  when:
    - toss_04_040390 | bool
  tags:
    - V-253089
    - SRG-OS-000342-GPOS-00133
    - TOSS-04-040390
    - DISA-STIG-TOSS-04-040390
    - medium_severity
    - CCI-001851
    - DISA-STIG-RHEL-08-030700
