# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253032

# Verify the audit system offloads audit records onto a different system or
# media from the system being audited with the following command:
#
#     $ sudo grep @@ /etc/rsyslog.conf /etc/rsyslog.d/*.conf
#     /etc/rsyslog.conf:*.* @@[remoteloggingserver]:[port]
#
# If a remote server is not configured, or the line is commented out,
# ask the System Administrator to indicate how the audit logs are
# off-loaded to a different system or media.
#
# If there is no evidence that the audit logs are being off-loaded to
# another system or media, this is a finding."


- name: TOSS-04-030900 - The TOSS audit records must be off-loaded onto a different system or storage media from the system being audited.
  block:
    - name: TOSS-04-030900 - Get the remote server the system is configured to offload audit records to
      ansible.builtin.shell: "grep @@ /etc/rsyslog.conf /etc/rsyslog.d/*.conf | grep -v '#'"
      changed_when: false
      check_mode: false
      failed_when: remote_logging.rc not in [0,1]
      register: remote_logging
    - name: Check if there is a remote server configured
      ansible.builtin.assert:
        that:
          - remote_logging.rc == 0
        fail_msg: "Audit logs are not being offoaded to a remote server via rsyslog, ask the System Administrator if logs are being offloaded a different way."
        quiet: true
  when:
    - toss_04_030900 | bool
  tags:
    - V-253032
    - SRG-OS-000342-GPOS-00133
    - TOSS-04-030900
    - DISA-STIG-TOSS-04-030900
    - medium_severity
    - CCI-001851
    - DISA-STIG-RHEL-08-030690
    - manual
