# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253132

# Verify TOSS restricts exposed kernel pointer addresses access with
# the following commands:
#
#     $ sudo sysctl kernel.kptr_restrict
#     kernel.kptr_restrict = 1
#
# If the returned line does not have a value of "1", or a line is not
# returned, this is a finding.


- name: TOSS-04-040910 - TOSS must restrict exposed kernel pointer addresses access.
  ansible.posix.sysctl:
    name: kernel.kptr_restrict
    value: 1
    state: present
    reload: true
  when:
    - toss_04_040910 | bool
  tags:
    - V-253132
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-040910
    - DISA-STIG-TOSS-04-040910
    - medium_severity
    - CCI-000366
