# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253071

# Verify the operating system disables the ability to load the
# firewire-core kernel module.
#
#     $ sudo grep -r firewire-core /etc/modprobe.d/* | grep install
#     install firewire-core /bin/false
#
# If the command does not return any output, or the line is commented
# out, and use of the firewire-core protocol is not documented with
# the Information System Security Officer (ISSO) as an operational
# requirement, this is a finding.
#
# Verify the operating system disables the ability to use the
# firewire-core kernel module.
#
# Check to see if the firewire-core kernel module is disabled with
# the following command:
#
#     $ sudo grep -r firewire-core /etc/modprobe.d/* | grep "blacklist"
#     blacklist firewire-core
#
# If the command does not return any output or the output is not
# "blacklist firewire-core", and use of the firewire-core kernel module
# is not documented with the Information System Security Officer (ISSO)
# as an operational requirement, this is a finding.


- name: TOSS-04-040160 - TOSS must disable IEEE 1394 (FireWire) Support.
  block:
    - name: TOSS-04-040160 - TOSS must disable IEEE 1394 (FireWire) Support. Check install.
      ansible.builtin.lineinfile:
        create: true
        dest: /etc/modprobe.d/firewire-core.conf
        regexp: install\s+firewire-core
        line: install firewire-core /bin/false
        mode: '644'
    - name: TOSS-04-040160 - TOSS must disable IEEE 1394 (FireWire) Support. Check blacklist.
      ansible.builtin.lineinfile:
        create: true
        dest: /etc/modprobe.d/blacklist-firewire-core.conf
        regexp: ^blacklist firewire-core$
        line: blacklist firewire-core
        mode: '644'
  when:
    - toss_04_040160 | bool
  tags:
    - V-253071
    - SRG-OS-000095-GPOS-00049
    - TOSS-04-040160
    - DISA-STIG-TOSS-04-040160
    - medium_severity
    - CCI-000381
    - isso_documented
