# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253061

# Verify the value for "lcredit" in "/etc/security/pwquality.conf" with
# the following command:
#
#     $ sudo grep lcredit /etc/security/pwquality.conf
#     lcredit = -1
#
# If the value of "lcredit" is a positive number or is commented out,
# this is a finding.


- name: TOSS-04-040060 - TOSS must enforce password complexity by requiring that at least one lower-case character be used.
  ansible.builtin.lineinfile:
    path: /etc/security/pwquality.conf
    regexp: '^#?\s*lcredit'
    line: 'lcredit = -1'
    backup: true
  when:
    - toss_04_040060 | bool
  tags:
    - V-253061
    - SRG-OS-000070-GPOS-00038
    - TOSS-04-040060
    - DISA-STIG-TOSS-04-040060
    - medium_severity
    - CCI-000193
