# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253110

# Verify the version of the operating system is vendor supported.
#
# Check the version of the operating system with the following command:
#
#     $ sudo cat /etc/toss-release
#     toss-release-4.3-3
#
# Current End of support for TOSS 4.3 is 30 April 2022.
#
# Current End of support for TOSS 4.4 is 30 November 2023.
#
# Current End of support for TOSS 4.5 is 30 April 2023.
#
# Current End of support for TOSS 4.6 is 30 November 2023.
#
# Current End of support for TOSS 4.7 is 30 April 2024.
#
# Current End of support for TOSS 4.8 is 31 May 2029.
#
# If the release is not supported by the vendor, this is a finding.


- name: TOSS-04-040690 - TOSS must be a vendor-supported release.
  block:
    - name: TOSS-04-040690 - Get the current version of TOSS
      ansible.builtin.shell:
        cmd: |
          set -o pipefail
          grep -o "[0-9].[0-9]" /etc/toss-release | head -1
      changed_when: false
      check_mode: false
      register: toss_version
    - name: TOSS-04-040690 - Check if the current version is supported
      ansible.builtin.assert:
        that:
          - toss_version.stdout in toss_end_of_support
          - now() < (toss_end_of_support[toss_version.stdout] | to_datetime)
        fail_msg: "TOSS {{ toss_version.stdout }}, is no longer supported. See https://hpc.llnl.gov/toss for supported versions"
        quiet: true
  rescue:
    - name: TOSS-04-040690 - ERROR - TOSS is not a vendor-supported release
      ansible.builtin.debug:
        msg: "TOSS {{ toss_version.stdout }}, is no longer supported. See https://hpc.llnl.gov/toss for supported versions"
  when:
    - toss_04_040690 | bool
  tags:
    - V-253110
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-040690
    - DISA-STIG-TOSS-04-040690
    - high_severity
    - CCI-000366
    - manual
