# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253035

# Verify if TOSS is configured to audit the execution of the "lsetxattr" system
# call, by running the following command:
#
#     $ sudo grep -w lsetxattr /etc/audit/audit.rules
#     -a always,exit -F arch=b32 -S lsetxattr -F auid>=1000 -F auid!=unset -k perm_mod
#     -a always,exit -F arch=b64 -S lsetxattr -F auid>=1000 -F auid!=unset -k perm_mod
#
#     -a always,exit -F arch=b32 -S lsetxattr -F auid=0 -k perm_mod
#     -a always,exit -F arch=b64 -S lsetxattr -F auid=0 -k perm_mod
#
# If the command does not return all lines, or the lines are commented out,
# this is a finding.


- name: TOSS-04-031000 - The TOSS audit system must be configured to audit any usage of the "lsetxattr" system call.
  block:
    - name: TOSS-04-031000 - The TOSS audit system must be configured to audit any usage of the "lsetxattr" system call, esp. arch=b32 and auid!=unset
      ansible.builtin.lineinfile:
        path: /etc/audit/rules.d/audit.rules
        line: -a always,exit -F arch=b32 -S lsetxattr -F auid>=1000 -F auid!=unset -k perm_mod
      notify: Build auditd rules
    - name: TOSS-04-031000 - The TOSS audit system must be configured to audit any usage of the "lsetxattr" system call, esp. arch=b64 and auid!=unset
      ansible.builtin.lineinfile:
        path: /etc/audit/rules.d/audit.rules
        line: -a always,exit -F arch=b64 -S lsetxattr -F auid>=1000 -F auid!=unset -k perm_mod
      notify: Build auditd rules
    - name: TOSS-04-031000 - The TOSS audit system must be configured to audit any usage of the "lsetxattr" system call, esp. arch=b32 and auid=0
      ansible.builtin.lineinfile:
        path: /etc/audit/rules.d/audit.rules
        line: -a always,exit -F arch=b32 -S lsetxattr -F auid=0 -k perm_mod
      notify: Build auditd rules
    - name: TOSS-04-031000 - The TOSS audit system must be configured to audit any usage of the "lsetxattr" system call, esp. arch=b64 and auid=0
      ansible.builtin.lineinfile:
        path: /etc/audit/rules.d/audit.rules
        line: -a always,exit -F arch=b64 -S lsetxattr -F auid=0 -k perm_mod
      notify: Build auditd rules
  when:
    - toss_04_031000 | bool
  tags:
    - V-253035
    - SRG-OS-000458-GPOS-00203
    - TOSS-04-031000
    - DISA-STIG-TOSS-04-031000
    - medium_severity
    - CCI-000172
