# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253092

# Verify "firewalld" has "nftables" set as the default backend:
#
#     $ sudo grep -i firewallbackend /etc/firewalld/firewalld.conf
#     # FirewallBackend
#     FirewallBackend=nftables
#
# If the "nftables" is not set as the "firewallbackend" default, this
# is a finding.


- name: TOSS-04-040480 - A firewall must be able to protect against or limit the effects of Denial of Service (DoS) attacks by ensuring TOSS can implement rate-limiting measures on impacted network interfaces.
  ansible.builtin.lineinfile:
    path: /etc/firewalld/firewalld.conf
    regexp: '^#?FirewallBackend'
    line: 'FirewallBackend=nftables'
  notify: Reload firewall
  when:
    - toss_04_040480 | bool
  tags:
    - V-253092
    - SRG-OS-000420-GPOS-00186
    - TOSS-04-040480
    - DISA-STIG-TOSS-04-040480
    - medium_severity
    - CCI-002385
