# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253059

# Verify TOSS implements DoD-approved encryption to protect the confidentiality
# of remote access sessions.
#
# Check to see if FIPS mode is enabled with the following command:
#
#     $ fips-mode-setup --check
#     FIPS mode is enabled
#
# If FIPS mode is "enabled", check to see if the kernel boot parameter is
# configured for FIPS mode with the following command:
#
#     $ sudo grub2-editenv list | grep fips
#     kernelopts=root=/dev/mapper/rhel-root ro crashkernel=auto resume=/dev/mapper/rhel-swap rd.lvm.lv=rhel/root rd.lvm.lv=rhel/swap rhgb quiet fips=1 boot=UUID=8d171156-cd61-421c-ba41-1c021ac29e82
#
# If the kernel boot parameter is configured to use FIPS mode, check to see
# if the system is in FIPS mode with the following command:
#
#     $ sudo cat /proc/sys/crypto/fips_enabled
#     1
#
# If FIPS mode is not "on", the kernel boot parameter is not configured for
# FIPS mode, or the system does not have a value of "1" for "fips_enabled"
# in "/proc/sys/crypto", this is a finding.
#
# If the hardware configuration of the operating system does not allow for
# enabling FIPS mode, and has been documented with the Information System
# Security Officer (ISSO), this requirement is Not Applicable.


- name: TOSS-04-040040 - TOSS must implement NIST FIPS-validated cryptography for the following to provision digital signatures; to generate cryptographic hashes; and to protect unclassified information requiring confidentiality and cryptographic protection in accordance with applicable federal laws, Executive Orders, directives, policies, regulations, and standards.
  block:
    - name: TOSS-04-040040 - Check to see the current status of FIPS mode
      ansible.builtin.command: /usr/bin/fips-mode-setup --check
      register: is_fips_enabled
      check_mode: false
      changed_when: false
    - name: TOSS-04-040040 - Enable FIPS mode
      ansible.builtin.command: /usr/bin/fips-mode-setup --enable
      # Note: Running this command will create a symlink from opensshserver.config and openssh.config to other files,  making permission look like '0777' to ansible's checks
      changed_when: fips_setup_output.rc is defined
      when: is_fips_enabled.stdout.find('FIPS mode is enabled.') == -1
      register: fips_setup_output
    - name: TOSS-04-040040 - Check to see if the kernel boot parameter is configured for FIPS mode
      ansible.builtin.command: grub2-editenv list
      register: boot_param
      check_mode: false
      changed_when: false
    - name: TOSS-04-040040 - Check to see if the system is in FIPS mode
      ansible.builtin.command: cat /proc/sys/crypto/fips_enabled
      register: system_mode
      changed_when: false
      check_mode: false
    - name: TOSS-04-040040 - Fail when kernel boot param is not configured for FIPS mode
      ansible.builtin.assert:
        that:
          - boot_param.stdout.find("fips=1")
          - system_mode.stdout == "1"
        fail_msg: "Either the kernel boot parameter was not set to 'fips=1' or the system is not in FIPS mode. Include 'fips=1' in the kernel boot parameters during installation to enable strict FIPS compliance."
        quiet: true
  when:
    - toss_04_040040 | bool
  tags:
    - V-253059
    - SRG-OS-000033-GPOS-00014
    - TOSS-04-040040
    - DISA-STIG-TOSS-04-040040
    - high_severity
    - CCI-000068
    - CCI-002450
    - isso_documented
    - hpc_issue
    - DISA-STIG-RHEL-08-010020
