# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253120

# Verify TOSS does not accept router advertisements on all IPv6 interfaces
# by default, unless the system is a router.
#
# Note: If IPv6 is disabled on the system, this requirement is Not Applicable.
#
# Check to see if router advertisements are not accepted by default by using
# the following command:
#
#     $ sudo sysctl net.ipv6.conf.default.accept_ra
#     net.ipv6.conf.default.accept_ra = 0
#
# If the "accept_ra" value is not "0" and is not documented with the
# Information System Security Officer (ISSO) as an operational requirement,
# this is a finding.


- name: TOSS-04-040790 - TOSS must not accept router advertisements on all IPv6 interfaces by default.
  ansible.builtin.lineinfile:
    path: /etc/sysctl.conf
    regexp: '^(?i)#?net.ipv6.conf.default.accept_ra'
    line: 'net.ipv6.conf.default.accept_ra = 0'
    state: present
    backup: true
  notify: Reload sysctl
  when:
    - toss_04_040790 | bool
  tags:
    - V-253120
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-040790
    - DISA-STIG-TOSS-04-040790
    - medium_severity
    - CCI-000366
    - DISA-STIG-RHEL-08-040262
    - NASA-ASCS-20269
