# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253044

# Verify TOSS generates audit records when successful/unsuccessful
# attempts to use the "su" command by performing the following command
# to check the file system rules in "/etc/audit/audit.rules":
#
#     $ sudo grep -w /usr/bin/su /etc/audit/audit.rules
#     -a always,exit -F path=/usr/bin/su -F perm=x -F auid>=1000 -F auid!=unset -k privileged
#
# If the command does not return a line, or the line is commented out,
# this is a finding.


- name: TOSS-04-031180 - Successful/unsuccessful uses of the "su" command in TOSS must generate an audit record.
  ansible.builtin.lineinfile:
    path: /etc/audit/rules.d/audit.rules
    line: -a always,exit -F path=/usr/bin/su -F perm=x -F auid>=1000 -F auid!=unset -k privileged
  notify: Build auditd rules
  when:
    - toss_04_031180 | bool
  tags:
    - V-253044
    - SRG-OS-000471-GPOS-00215
    - TOSS-04-031180
    - DISA-STIG-TOSS-04-031180
    - medium_severity
    - CCI-000172
