# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-253127

# Verify TOSS does not accept IPv6 source-routed packets.
#
# Note: If IPv6 is disabled on the system, this requirement is Not Applicable.
#
# Check the value of the accept source route variable with the following
# command:
#
#     $ sudo sysctl net.ipv6.conf.all.accept_source_route
#     net.ipv6.conf.all.accept_source_route = 0
#
# If the returned line does not have a value of "0", a line is not returned,
# or the line is commented out, this is a finding.


- name: TOSS-04-040860 - TOSS must not forward IPv6 source-routed packets.
  ansible.builtin.lineinfile:
    path: /etc/sysctl.conf
    regexp: '^(?i)#?net.ipv6.conf.all.accept_source_route'
    line: 'net.ipv6.conf.all.accept_source_route = 0'
    state: present
    backup: true
  notify: Reload sysctl
  when:
    - toss_04_040860 | bool
  tags:
    - V-253127
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-040860
    - DISA-STIG-TOSS-04-040860
    - medium_severity
    - CCI-000366
    - NASA-ASCS-20273
