# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252963

# Verify TOSS is not configured to reboot the system when Ctrl-Alt-Delete
# is pressed when using a graphical user interface with the following command:
#
# Note: This requirement assumes the use of the TOSS default graphical user
# interface, Gnome Shell. If the system does not have any graphical user
# interface installed, this requirement is Not Applicable.
#
#     $ sudo grep logout /etc/dconf/db/local.d/*
#     logout=''
#
# If the "logout" key is bound to an action, is commented out, or is missing,
# this is a finding.


- name: TOSS-04-020240 - The x86 Ctrl-Alt-Delete key sequence in TOSS must be disabled if a graphical user interface is installed.
  block:
    - name: TOSS-04-020240 - Disable Ctrl-Alt-Del Reboot Key Sequence in GNOME3
      community.general.ini_file:
        dest: /etc/dconf/db/local.d/00-disable-CAD
        section: org/gnome/settings-daemon/plugins/media-keys
        option: logout
        value: ''''''
        create: true
        no_extra_spaces: true
        mode: '0644'
    - name: TOSS-04-020240 - Dconf Update
      ansible.builtin.command: dconf update
      register: update_output
      changed_when: false
  when:
    - toss_04_020240 | bool
  tags:
    - V-252963
    - SRG-OS-000480-GPOS-00227
    - TOSS-04-020240
    - DISA-STIG-TOSS-04-020240
    - high_severity
    - CCI-000366
    - dconf_gnome_screensaver_lock_enabled
    - DISA-STIG-RHEL-08-040171
