# https://www.stigviewer.com/stig/tri-lab_operating_system_stack_toss_4/2022-08-29/finding/V-252951

# Verify that TOSS contains no duplicate User IDs (UIDs) for interactive users.
#
# Check that the operating system contains no duplicate UIDs for interactive
# users with the following command:
#
#     $ sudo awk -F ":" 'list[$3]++{print $1, $3}' /etc/passwd
#
# If output is produced, and the accounts listed are interactive user accounts,
# this is a finding.


- name: TOSS-04-020060 - TOSS duplicate User IDs (UIDs) must not exist for interactive users.
  block:
    - name: TOSS-04-020060 - Verify no users have the same UUID
      ansible.builtin.command: "awk -F ':' 'list[$3]++{print $1,$3}' /etc/passwd"
      failed_when: all_dupe_uuid.rc not in [0,1]
      changed_when: false
      check_mode: false
      register: all_dupe_uuid
    - name: TOSS-04-020060 - Display user(s) that have a duplicated UID
      ansible.builtin.debug:
        var: all_dupe_uuid.stdout_lines
        verbosity: 1
      when: all_dupe_uuid.stdout_lines | length > 0
    - name: TOSS-04-020060 - Fail if there are duplicates
      ansible.builtin.assert:
        that:
          - all_dupe_uuid.stdout_lines | length == 0
        fail_msg: "The above user(s) have the same UID as another user."
        quiet: true
  when:
    - toss_04_020060 | bool
  tags:
    - V-252951
    - SRG-OS-000104-GPOS-00051
    - TOSS-04-020060
    - DISA-STIG-TOSS-04-020060
    - medium_severity
    - CCI-000764
    - CCI-000804
